/* Mobile mặc định */
div {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

/* ================= */
/* Tablet ≥ 772px */
/* ================= */
@media (min-width: 772px) {

    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    div {
        width: 45%;
    }

    img {
        max-height: 30vh;
    }
}

/* ================= */
/* Desktop ≥ 998px */
/* ================= */
@media (min-width: 998px) {
    div {
        width: 30%;
    }
}
